.character{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 850px 530px;

    & .characters{
        height: 700px;
        padding-block: 5.6rem;
        background: url(/assets/character\ background-linear.png) no-repeat center/cover;

        display: flex;
        align-items: center;
        gap: 6.5rem;
    }

    & .container-characters{
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
    }

    & .container-characters  button{
        all: unset;
        background-color: var(--shape-background);
        transition: 120ms ease;
    }

    & .container-characters img{
       max-width: 100%;
    }

    & .container-characters:hover button{
        opacity: 0.7;
     }
    & .container-characters button:hover{
        transform: scale(1.1);
        opacity: 1;
     }

     
     
     .biografy{
         width: 100%;
         
    }

        .introdution{
            padding: 2.1rem 3.8rem;
            color: var(--text-color-white);
            background-color: var(--gray-background);
            
            div span{
                display: inline-block;
                padding-bottom: 1rem;
            }
            div h3{
                font: 600 2.2rem/120% "satoshi";
                padding-bottom: 1rem;
            }
            div p{
                padding-bottom: 1rem;
            }
            
            .info-wrapper{
                display: flex;
                gap: 7rem;
            }
        }
    }
    
    .character-content{
        display: none;
    }

     .character-content.show{
        display: initial;
     }